/*
Artifacts API

 Artifacts is an API-based MMO game where you can manage 5 characters to explore, fight, gather resources, craft items and much more.  Website: https://artifactsmmo.com/  Documentation: https://docs.artifactsmmo.com/  OpenAPI Spec: https://api.artifactsmmo.com/openapi.json 

API version: 1.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type MapsAPI interface {

	/*
	GetAllMapsMapsGet Get All Maps

	Fetch maps details.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAllMapsMapsGetRequest
	*/
	GetAllMapsMapsGet(ctx context.Context) ApiGetAllMapsMapsGetRequest

	// GetAllMapsMapsGetExecute executes the request
	//  @return DataPageMapSchema
	GetAllMapsMapsGetExecute(r ApiGetAllMapsMapsGetRequest) (*DataPageMapSchema, *http.Response, error)

	/*
	GetMapMapsXYGet Get Map

	Retrieve the details of a map.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param x The position x of the map.
	@param y The position X of the map.
	@return ApiGetMapMapsXYGetRequest
	*/
	GetMapMapsXYGet(ctx context.Context, x int32, y int32) ApiGetMapMapsXYGetRequest

	// GetMapMapsXYGetExecute executes the request
	//  @return MapResponseSchema
	GetMapMapsXYGetExecute(r ApiGetMapMapsXYGetRequest) (*MapResponseSchema, *http.Response, error)
}

// MapsAPIService MapsAPI service
type MapsAPIService service

type ApiGetAllMapsMapsGetRequest struct {
	ctx context.Context
	ApiService MapsAPI
	contentType *string
	contentCode *string
	page *int32
	size *int32
}

// Type of content on the map.
func (r ApiGetAllMapsMapsGetRequest) ContentType(contentType string) ApiGetAllMapsMapsGetRequest {
	r.contentType = &contentType
	return r
}

// Content code on the map.
func (r ApiGetAllMapsMapsGetRequest) ContentCode(contentCode string) ApiGetAllMapsMapsGetRequest {
	r.contentCode = &contentCode
	return r
}

// Page number
func (r ApiGetAllMapsMapsGetRequest) Page(page int32) ApiGetAllMapsMapsGetRequest {
	r.page = &page
	return r
}

// Page size
func (r ApiGetAllMapsMapsGetRequest) Size(size int32) ApiGetAllMapsMapsGetRequest {
	r.size = &size
	return r
}

func (r ApiGetAllMapsMapsGetRequest) Execute() (*DataPageMapSchema, *http.Response, error) {
	return r.ApiService.GetAllMapsMapsGetExecute(r)
}

/*
GetAllMapsMapsGet Get All Maps

Fetch maps details.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAllMapsMapsGetRequest
*/
func (a *MapsAPIService) GetAllMapsMapsGet(ctx context.Context) ApiGetAllMapsMapsGetRequest {
	return ApiGetAllMapsMapsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DataPageMapSchema
func (a *MapsAPIService) GetAllMapsMapsGetExecute(r ApiGetAllMapsMapsGetRequest) (*DataPageMapSchema, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DataPageMapSchema
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MapsAPIService.GetAllMapsMapsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/maps/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "content_type", r.contentType, "")
	}
	if r.contentCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "content_code", r.contentCode, "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "")
	} else {
		var defaultValue int32 = 50
		r.size = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMapMapsXYGetRequest struct {
	ctx context.Context
	ApiService MapsAPI
	x int32
	y int32
}

func (r ApiGetMapMapsXYGetRequest) Execute() (*MapResponseSchema, *http.Response, error) {
	return r.ApiService.GetMapMapsXYGetExecute(r)
}

/*
GetMapMapsXYGet Get Map

Retrieve the details of a map.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param x The position x of the map.
 @param y The position X of the map.
 @return ApiGetMapMapsXYGetRequest
*/
func (a *MapsAPIService) GetMapMapsXYGet(ctx context.Context, x int32, y int32) ApiGetMapMapsXYGetRequest {
	return ApiGetMapMapsXYGetRequest{
		ApiService: a,
		ctx: ctx,
		x: x,
		y: y,
	}
}

// Execute executes the request
//  @return MapResponseSchema
func (a *MapsAPIService) GetMapMapsXYGetExecute(r ApiGetMapMapsXYGetRequest) (*MapResponseSchema, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MapResponseSchema
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MapsAPIService.GetMapMapsXYGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/maps/{x}/{y}"
	localVarPath = strings.Replace(localVarPath, "{"+"x"+"}", url.PathEscape(parameterValueToString(r.x, "x")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"y"+"}", url.PathEscape(parameterValueToString(r.y, "y")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
