/*
Artifacts API

 Artifacts is an API-based MMO game where you can manage 5 characters to explore, fight, gather resources, craft items and much more.  Website: https://artifactsmmo.com/  Documentation: https://docs.artifactsmmo.com/  OpenAPI Spec: https://api.artifactsmmo.com/openapi.json 

API version: 1.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type AccountsAPI interface {

	/*
	CreateAccountAccountsCreatePost Create Account

	Create an account.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateAccountAccountsCreatePostRequest
	*/
	CreateAccountAccountsCreatePost(ctx context.Context) ApiCreateAccountAccountsCreatePostRequest

	// CreateAccountAccountsCreatePostExecute executes the request
	//  @return ResponseSchema
	CreateAccountAccountsCreatePostExecute(r ApiCreateAccountAccountsCreatePostRequest) (*ResponseSchema, *http.Response, error)
}

// AccountsAPIService AccountsAPI service
type AccountsAPIService service

type ApiCreateAccountAccountsCreatePostRequest struct {
	ctx context.Context
	ApiService AccountsAPI
	addAccountSchema *AddAccountSchema
}

func (r ApiCreateAccountAccountsCreatePostRequest) AddAccountSchema(addAccountSchema AddAccountSchema) ApiCreateAccountAccountsCreatePostRequest {
	r.addAccountSchema = &addAccountSchema
	return r
}

func (r ApiCreateAccountAccountsCreatePostRequest) Execute() (*ResponseSchema, *http.Response, error) {
	return r.ApiService.CreateAccountAccountsCreatePostExecute(r)
}

/*
CreateAccountAccountsCreatePost Create Account

Create an account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateAccountAccountsCreatePostRequest
*/
func (a *AccountsAPIService) CreateAccountAccountsCreatePost(ctx context.Context) ApiCreateAccountAccountsCreatePostRequest {
	return ApiCreateAccountAccountsCreatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseSchema
func (a *AccountsAPIService) CreateAccountAccountsCreatePostExecute(r ApiCreateAccountAccountsCreatePostRequest) (*ResponseSchema, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseSchema
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsAPIService.CreateAccountAccountsCreatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounts/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.addAccountSchema == nil {
		return localVarReturnValue, nil, reportError("addAccountSchema is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.addAccountSchema
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
